.header{
    background-color: rgba(28, 43, 53, 1);
    height:80px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 146px;
    padding-right: 150px;
}
.header a{
    text-decoration: none;
    color:aliceblue;
    margin-left: 36px;
    font-size: 17px;
}
.header a:hover{
    color:orange;
}